@use "../helpers/_variables" as *;
@use "../helpers/_mixin" as *;
@use "../layout/_grid" as *;

.btn {
  @include flex($justify: center);
  height: 2rem;
  width: 100%;
  font-size: 0.8rem;
  text-transform: capitalize;
  font-weight: 600;
  border-radius: 10px;
  margin: 0.7rem 0;
  padding: 0.5rem 0;
  background-color: $blue;
  color: $pri;
  transition: all 0.45s ease-in-out;
  cursor: pointer;

  &.btn-primary {
    background-color: $blue;
    &:hover {
      background-color: rgba($blue, 0.7);
    }
    &:disabled {
      background-color: rgba($sec, 0.8);
      cursor: not-allowed;
      &:hover {
        background-color: rgba($sec, 0.8);
      }
    }
  }
  &.btn-secondary {
    background-color: rgba($sec, 0.7);
    &:hover {
      background-color: rgba($sec, 0.6);
    }
  }
  &.btn-default {
    background-color: rgba($pri, 0.8);
    color: $sec;
    &:hover {
      background-color: rgba($pri, 1);
    }
  }
  &.btn-lg {
    padding: 1.3rem 2rem;
    font-size: 1rem;
  }
  &.btn-sm {
    padding: 0.5rem 0;
    font-size: 0.7rem;
  }
}
