@use "../helpers/_variables" as *;
@use "../helpers/_mixin" as *;
@use "../layout/_grid" as *;

.newPost-container {
  @include box-shadow($color: rgba(0, 0, 0, 0.1));
  background: $pri;
  width: 100%;
  margin: 1rem 0;
  border-radius: 10px;
  padding: 0.4rem 0.8rem;
}
.newpost-top {
  @include flex($justify: space-between);
  gap: 0.6rem;
  padding-bottom: 0.7rem;
  padding-top: 0.2rem;
  border-bottom: 1.6px solid rgba($sec, 0.1);
}
.newpost-img {
  width: 2rem;
  height: 2rem;
  cursor: pointer;
}
.newpost-img img {
  @include image();
  border-radius: 50%;
}
.newpost-input {
  flex: 1;
}
.newpost-input {
  width: 100%;
  background-color: $bgcolor;
  padding: 0.5rem 0.8rem;
  border-radius: 25px;
  cursor: pointer;
  transition: all 0.45s ease;
  &:hover {
    background-color: rgba($sec, 0.1);
  }
  &__container {
    @include flex($justify: flex-start);

    span {
      font-size: 0.8rem;
      letter-spacing: 0.5px;
      color: rgba($sec, 0.7);
    }
  }
}
.newpost-bottom {
  @include flex($justify: space-between);
  width: 100%;
  padding: 0.4rem 0;
  gap: 0.5rem;
  &__vedio {
    @include flex($justify: center);
    gap: 0.3rem;
    cursor: pointer;
    padding: 0.3rem 0;
    border-radius: 10px;
    flex: 1;
    transition: all 0.45s ease;
    &:hover {
      background-color: rgba($sec, 0.1);
    }
    &--icon {
      width: 1.2rem;
      height: 1.2rem;
      cursor: pointer;
      img {
        @include image();
      }
    }
    &--title {
      font-size: 0.8rem;
    }
  }
  &__photo {
    @include flex($justify: center);
    gap: 0.3rem;
    cursor: pointer;
    padding: 0.3rem 0;
    border-radius: 10px;
    flex: 1;
    transition: all 0.45s ease;
    &:hover {
      background-color: rgba($sec, 0.1);
    }
    &--icon {
      width: 1.2rem;
      height: 1.2rem;
      cursor: pointer;
      img {
        @include image();
      }
    }
    &--title {
      font-size: 0.8rem;
    }
  }
  &__feelings {
    @include flex($justify: center);
    gap: 0.3rem;
    cursor: pointer;
    padding: 0.3rem 0;
    border-radius: 10px;
    flex: 1;
    transition: all 0.45s ease;
    &:hover {
      background-color: rgba($sec, 0.1);
    }
    &--icon {
      width: 1.2rem;
      height: 1.2rem;
      cursor: pointer;
      img {
        @include image();
      }
    }
    &--title {
      font-size: 0.8rem;
    }
  }
}
.create-modal {
  padding: 1.2rem;
  h2 {
    font-size: 1.1rem;
    text-align: center;
    border-bottom: 1px solid rgba($sec, 0.2);
    padding-bottom: 1rem;
  }
}
.create-modal-cotent {
  padding: 0.8rem 0;
  .top {
    @include flex($justify: flex-start);
    gap: 0.5rem;
    font-size: 0.8rem;
    .description {
      line-height: 1.6;
      .name {
        font-weight: 600;
      }
      .friends {
        @include flex($justify: center);
        background-color: rgba($sec, 0.1);
        font-size: 0.6rem;
        border-radius: 5px;
        padding: 0.1rem 0;
        font-weight: 600;
        cursor: pointer;
      }
    }
  }
  .avator {
    width: 1.8rem;
    height: 1.8rem;
    cursor: pointer;
    img {
      @include image();
      border-radius: 50%;
    }
  }
  .text-area {
    width: 100%;
    padding: 1rem 0;
    height: 100px;
    textarea {
      font-size: 1rem;
      font-weight: 500;
      width: 100%;
      height: 100%;
      letter-spacing: 1.2;
      resize: none;
    }
  }
  .media {
    @include flex($justify: flex-end);
    gap: 0.5rem;
    width: 100%;
    height: 3rem;
    border: 1px solid rgba($sec, 0.1);
    border-radius: 5px;
    padding: 0.5rem;
    .icon {
      width: 1.5rem;
      height: 1.5rem;
      cursor: pointer;
      img {
        @include flex($justify: center);
        @include image();
      }
    }
    .upload {
      font-size: 0.8rem;
      font-weight: 500;
      margin-right: auto;
      cursor: pointer;
    }
  }
  .preview-post {
    position: relative;
    border: 1px solid rgba($sec, 0.1);
    border-radius: 5px;
    padding: 0.5rem;
    margin-bottom: 1rem;
    .upload-photo {
      @include image();
      position: relative;
      border-radius: 10px;
    }
    &__icon {
      @include flex($justify: center);
      position: absolute;
      width: 1.5rem;
      height: 1.5em;
      right: 20px;
      top: 20px;
      z-index: 1;
      border-radius: 50%;
      background-color: #454141;
      cursor: pointer;
      transition: all 0.45s ease;
      &:hover {
        background-color: rgba(#645c5c, 0.5);
      }
      svg path + path {
        fill: $pri;
      }
    }
  }
}
