@use "../helpers/_variables" as *;
@use "../helpers/_mixin" as *;
@use "../layout/_grid" as *;

.otp-wrapper {
  width: 100%;
  padding-bottom: 0.4rem;
  .otp-main {
    @include flex($justify: center);
    gap: 0.2rem;
    input {
      border: 1.5px solid rgba($sec, 0.2);
      height: 2.5rem;
      width: 2.5rem;
      padding: 0.5rem;
      border-radius: 0.2rem;
      text-align: center;
      font-size: 1rem;
      &:focus {
        outline: 1px solid rgba($blue, 0.9);
        border-color: rgba($blue, 0.9); // Customize this if needed
      }
    }
  }
}
