@use "../helpers/_mixin" as *;
@use "../helpers/_variables" as *;
@use "../layout/_grid" as *;

.sidebar-left {
  height: calc(100vh - 55px);
  position: sticky;
  top: 55px;
  overflow-x: scroll;
  &::-webkit-scrollbar {
    display: none;
  }
}
.top-sidebar-left {
  margin: 0.5rem 0;
  border-bottom: 1px solid rgba($sec, 0.2);
  &__profile {
    @include flex($justify: flex-start);
    gap: 0.7rem;
    margin: 0.6rem 0px;
    padding: 0.3rem 0.4rem;
    border-radius: 10px;
    cursor: pointer;
    transition: all 0.45s ease;
    &:hover {
      background-color: rgba($sec, 0.1);
    }

    &--image {
      height: 1.5rem;
      width: 1.5rem;
      img {
        @include image();
        border-radius: 50%;
      }
    }
    &--details {
      font-size: 0.8rem;
    }
  }
}
.middle-sidebar-left {
  margin: 0.5rem 0;
  border-bottom: 1px solid rgba($sec, 0.2);

  &__title {
    font-size: 0.8rem;
    text-transform: capitalize;
    cursor: pointer;
  }

  &__profile {
    @include flex($justify: flex-start);
    gap: 0.7rem;
    margin: 0.6rem 0px;
    padding: 0.3rem 0.4rem;
    border-radius: 10px;
    cursor: pointer;
    transition: all 0.45s ease;
    &:hover {
      background-color: rgba($sec, 0.1);
    }
    cursor: pointer;

    &--image {
      height: 1.5rem;
      width: 1.5rem;
      img {
        @include image();
        border-radius: 50%;
      }
    }
    &--details {
      font-size: 0.8rem;
    }
  }
}
.bottom-sidebar-left {
  margin: 0.5rem 0;
  &__profile {
    @include flex($justify: flex-start);
    gap: 0.7rem;
    margin: 0.6rem 0px;
    cursor: pointer;
    padding: 0.3rem 0.4rem;
    border-radius: 10px;
    transition: all 0.45s ease;
    &:hover {
      background-color: rgba($sec, 0.1);
    }

    &--image {
      height: 1.5rem;
      width: 1.5rem;
      img {
        @include image();
        border-radius: 50%;
      }
    }
    &--details {
      font-size: 0.8rem;
    }
  }
  &__title {
    font-size: 0.8rem;
    text-transform: capitalize;
    cursor: pointer;
  }
}
