@use "../helpers/_variables" as *;
@use "../helpers/_mixin" as *;
@use "../layout/_grid" as *;

.friends-main-section {
  @include flex($justify: space-between);
  align-items: flex-start;
  gap: 0.5rem;
  padding: 0.8rem 0px;
  .left-sidebar {
    position: sticky;
    top: 75px;
    flex-basis: 25%;
  }
  .right-sidebar {
    flex-basis: 70%;
  }
}
