@use "../helpers/_variables" as *;
@use "../helpers/_mixin" as *;
@use "../layout/_grid" as *;

.login-wrapper {
  @include flex($justify: center);
  height: 100vh;
}
.login {
  box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
  max-width: 500px;
  margin: auto;
  padding: 3rem;
  border-radius: 10px;
}
.username {
  margin: 0.5rem 0px;
}
.password {
  margin: 0.5rem 0px;
}
.handle-action {
  @include flex($justify: space-between);
  gap: 0.5rem;
  font-size: 0.6rem;
  margin-top: 1.3rem;
  .singup {
    span {
      color: rgba($blue, 1);
      position: relative;
      transition: all 0.45s ease-in-out;
      &:hover::before {
        width: 100%;
      }
      &::before {
        position: absolute;
        content: "";
        width: 0%;
        height: 2px;
        background: rgba($blue, 0.9);
        bottom: -5px;
        transition: all 0.25s ease-in;
      }
    }
  }
  .forget {
    color: rgba($blue, 1);
    position: relative;
    transition: all 0.45s ease-in-out;
    cursor: pointer;
    &:hover::before {
      width: 100%;
    }
    &::before {
      position: absolute;
      content: "";
      width: 0%;
      height: 2px;
      background: rgba($blue, 0.9);
      bottom: -5px;
      transition: all 0.25s ease-in;
    }
  }
}
